$color-dark: #445161;
$color-text: #333;
$width-site: 1172px;

* {
    margin: 0;
    padding: 0;
}

.container {
    width: $width-site;
    margin: 0 auto;
}

.heading {
    font-size: 30px;
    color: $color-dark;
    line-height: 36px;
    font-family: Arial;
    font-weight: normal;
    margin-bottom: 17px;
}

.paragraph {
    font-size: 16px;
    color: $color-text;
    line-height: 24px;
    font-family: Arial;
    margin-bottom: 11px;
}

.product-name {
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 25px 0 20px;
    font-family: Arial;
    &__heading {
        font-size: 64px;
        margin-bottom: 40px;
        font-weight: normal;
    }
    &__wrapper {
        background-color: $color-dark;
    }
    &__img {
        width: 469px;
        height: 214px;
        background-color: white;
    }
    &__list {
        list-style: none;
        &_item {
            margin-bottom: 10px;
        }
    }

}

.about-product {
    display: flex;
    justify-content: space-between;
    padding: 45px 0 50px;
    &__text {
        margin-right: 90px;
    }
    &__img {
        height: 245px;
        width: 430px;
        background-color: $color-dark;
    }
}
